<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
    <span class="spotlight__header--prefix">
       Media Spotlight:
    </span>
    <% spotlight_work = Work.spotlight%>
    <%= link_to spotlight_work.title, work_path(spotlight_work.id), class: "spotlight__link-to" %> by
    <%= spotlight_work.creator%>
    </h2>
    <p class="spotlight__description"   >
        <h6><%= "#{Work.spotlight.publication_year} - #{Work.spotlight.description}"%></h6>
  </section>
  <section class="top-ten__container">
    
        <% categories = [
                          "book", 
                          "album", 
                          "movie"
                          ]%>

        <% categories.each do |category|%>
          <section class="top-ten__list-container">
          <% category_collection = Work.top(category)%>
          <h2 class="top-ten__header">
          Top <%= "#{category.capitalize}s" %>
          </h2>
          <ul class="list-group top-ten__list">
            <% category_collection.each do |work| %>
            <li class="list-group-item">
              <h4>
              <%= link_to work.title, work_path(work.id)%> 
              <small class="top-ten__creator">by <%= work.creator%></small>
              </h4>
              <p><%= work.publication_year%> votes</p>
            </li>
            <% end %>
          </section>
        <% end %>
        
    
  </section>
</main>

