<h1>MediaRanker</h1>

<%= link_to("View top media", root_path) %>
<%= link_to("View all media", works_path) %>
<%= link_to("Add new work", new_work_path) %>
<%= link_to("All Users", users_path) %>
<%= link_to("Login", login_path) if session[:user_id].nil? %>
<%= link_to("Logout", logout_path, method: :post) if session[:user_id] %>
<%= link_to("Logged in as #{session[:user_name]}", current_user_path) if session[:user_id] %>


<% albums = Work.where(category: "album") %>
<% movies = Work.where(category: "movie") %>
<% books = Work.where(category: "book") %>

<h2>Top Movies</h2>
<% top_movies = movies.sample(10)%>
<% if top_movies.empty? %>
    <p>There are no movies.</p>
<% else %>
    <% top_movies.each do |movie|%>
        <li>
            <%= movie.title%>
            <%= movie.creator%> votes
        </li>
    <% end %>
<% end %>
<h2>Top Books</h2>
<% top_books = books.sample(10)%>
<% if top_books.empty? %>
    <p>There are no books.</p>
<% else %>
    <% top_books.each do |book|%>
        <li>
            <%= book.title%>
            <%= book.creator%> votes
        </li>
    <% end %>
<% end %>
<h2>Top Albums</h2> 
<% top_albums = albums.sample(10)%>
<% if top_albums.empty? %>
    <p>There are no albums.</p>
<% else %>
    <% top_albums.each do |album|%>
        <li>
            <%= album.title%>
            <%= album.creator%> votes
        </li>
    <% end %>
<% end %>