<h1>Media Ranker Homepage</h1>
<p>Spotlight Search coming soon...</p>
<p>All media, listed by media type</p>

<% if @works.empty? %>
    <h2> No media </h2>
<% else %>
    <section class="spotlight">
    <h2>Spotlight Title</h2>
        <ul>
            <li>
                Title: <%= link_to Work.highest_vote.title, work_path(Work.highest_vote.id) %>
            </li>
            <li>
                Creator: <%= Work.highest_vote.creator %>
            </li>
            <li>
                Votes: <%= Vote.where(work_id: Work.highest_vote.id).length %>
            </li>
        </ul>
    </section>

    <section class="albums">
    <h2>Albums</h2>
        <ul>
            <% Work.top_ten("album").each do |work|%>
                <li>
                    Title: <%= link_to work.title, work_path(work.id) %>  
                </li>
                <li>
                    Creator: <%= work.creator %>
                </li>
                <li>
                    Votes: <%= Vote.where(work_id: work.id).length %>
                </li>
            <% end %>
        </ul>
    </section>

    <section class="books">
    <h2>Books</h2>
        <ul>
            <% Work.top_ten("book").each do |work|%>
                <li>
                    Title: <%= link_to work.title, work_path(work.id) %>  
                </li>
                <li>
                    Creator: <%= work.creator %>
                </li>
                <li>
                    Votes: <%= Vote.where(work_id: work.id).length %>
                </li>
            <% end %>
        </ul>
    </section>

    <section class="movies">
    <h2>Movies</h2>
        <ul>
            <% Work.top_ten("movie").each do |work|%>
                <li>
                    Title: <%= link_to work.title, work_path(work.id) %>  
                </li>
                <li>
                    Creator: <%= work.creator %>
                </li>
               <li>
                    Votes: <%= Vote.where(work_id: work.id).length %>
                </li>
            <% end %>
        </ul>
    </section>
    <% end %>



