<% media = Work.all.sample%>
<%if media%>
    <section>
        <h2><span>Media Spotlight:</span> <%= link_to media.title, work_path(media.id)%> by <%= media.creator%> </h2>
        <p><%=media.votes.count%> votes - <%= media.description%></p>
    </section>
<%end%>
<h2> Top 10 Books </h2>
<ul>
<% Work.top_ten("book").each do |book|%>
    <li>
    <h4><%= link_to book.title, work_path(book.id)%><small> by <%= book.creator %></small>
    </h4> 
    <p><%= book.votes.count %> votes<p>
    </li>
<%end%>
</ul>

<h2> Top 10 Albums </h2>
<ul>
<% Work.top_ten("album").each do |album|%>
    <li>
    <h4><%= link_to album.title, work_path(album.id)%><small> by <%= album.creator %></small>
    </h4> 
    <p><%= album.votes.count %> votes<p>
    </li>
<%end%>
</ul>

<h3> Top 10 Movies </h3>
<ul>
<% Work.top_ten("movie").each do |movie|%>
    <li>
    <h4><%= link_to movie.title, work_path(movie.id)%><small> by <%= movie.creator %></small>
    </h4> 
    <p><%= movie.votes.count %> votes<p>
    </li>
<%end%>
</ul>