<main class="homepage">
    <section class="spotlight">
    <%# spotlight = @works.sample %>
    <h2>Media spotlight: <%= link_to @spotlight_work.title, work_path(@spotlight_work.id) %> <span>by <%= @spotlight_work.creator %></span></h2>
    <p><%= @spotlight_work.vote_count %> votes - <%= @spotlight_work.description %></p>
    </section>

    <div class="spotlight-works">
        <section class="spotlight-work">
        <% top_book = @works.sample%>
        <h2>Top Books</h2>
        <%= top_book.title %> by <%= top_book.creator %>
        <p><%= rand(1..5)%> votes</p>
        </section>

        <section class="spotlight-work">
        <% top_movie = @works.sample%>
        <h2>Top Movies</h2>
        <%= top_movie.title %> by <%= top_movie.creator %>
        <p><%= rand(1..5)%> votes</p>
        </section>

        <section class="spotlight-work">
        <% top_album = @works.sample %>
        <h2>Top Albums</h2>
        <%= top_album.title %> by <%= top_album.creator %>
        <p><%= rand(1..5)%> votes</p>
        </section>
    </div>
</main>