<% spotlight = @works.media_spotlight %>

<h1>Media Spotlight: <span class="spotlight-title"><%= link_to spotlight.title, work_path(spotlight.id)%> by <%= spotlight.creator%></span></h1>

<%= spotlight.vote_count%> votes



<div>
    <h2>Top Albums:</h2>
        <ul>
        <% @works.top_ten("album").each do |work| %>
            <li>
            <%= link_to work.title, work_path(work.id) %>
            by
            <%= work.creator%>
           
            <br>
            <%=work.vote_count%> votes
             </li>
            <% end %>
        </ul>
</div>

<div>
    <h2>Top Books:</h2>
        <ul>
        <% @works.top_ten("book").each do |work| %>
            <li>
            <%= link_to work.title, work_path(work.id) %>
            by
            <%= work.creator%>
            </li>
            <% end %>

        </ul>
</div>

<div>
<h2>Top Movies:</h2>
    <ul>
<% @works.top_ten("movie").each do |work| %>
        <li>
        <%= work.title %>
        </li>
    <% end %>

</ul>
</div>

