<main class="homepage">
    <section class="spotlight">
    <% spotlight_work = Work.spotlight_work(@works) %>
    <% if spotlight_work != nil %>
        <h2>Media spotlight: <%= link_to spotlight_work.title, work_path(spotlight_work.id) %> <span>by <%= spotlight_work.creator %></span></h2>
        <p><%= spotlight_work.vote_count %> votes - <%= spotlight_work.description %></p>
    <% else %>
        <h2>No votes have been cast yet...</h2>
    <% end %>
    </section>

    <div class="spotlight-works">
        <section class="spotlight-work">
        <% top_books = Work.top_ten_books(@works)%>
        <h2>Top Books</h2>
        <% top_books.each do |book|%>
            <h4><%= book.title %> <small>by <%= book.creator %></small></h4>
            <p><%= book.vote_count %> votes</p>
        <% end %>
        </section>

        <section class="spotlight-work">
        <% top_movies = Work.top_ten_movies(@works) %>
        <h2>Top Movies</h2>
        <% top_movies.each do |movie|%>
            <h4><%= movie.title %> <small>by <%= movie.creator %></small></h4>
            <p><%= movie.vote_count %> votes</p>
        <% end %>
        </section>

        <section class="spotlight-work">
        <% top_albums = Work.top_ten_albums(@works) %>
        <h2>Top Albums</h2>
        <% top_albums.each do |album|%>
            <h4><%= album.title %> <small></small>by <%= album.creator %></small></h4>
            <p><%= album.vote_count%> votes</p>
        <% end %>
        </section>
    </div>
</main>