<h1>Top Media</h1>
<% top_work = Work.top_media %>
<%= top_work.title %>
<h2>Top Movies</h2>
<% top_movies = Work.top_ten("movie")%>
<% if top_movies.empty? %>
    <p>There are no movies.</p>
<% else %>
    <% top_movies.each do |movie|%>
        <li>
            <%= movie.title%>
            <%= movie.creator%> votes
        </li>
    <% end %>
<% end %>
<h2>Top Books</h2>
<% top_books = Work.top_ten("book")%>
<% if top_books.empty? %>
    <p>There are no books.</p>
<% else %>
    <% top_books.each do |book|%>
        <li>
            <%= book.title%>
            <%= book.creator%> votes
        </li>
    <% end %>
<% end %>
<h2>Top Albums</h2> 
<% top_albums = Work.top_ten("album")%>
<% if top_albums.empty? %>
    <p>There are no albums.</p>
<% else %>
    <% top_albums.each do |album|%>
        <li>
            <%= album.title%>
            <%= album.creator%> votes
        </li>
    <% end %>
<% end %>