<section class="media-spotlight">
    <h2>Media Spotlight: <%= @featured.title %> by <%= @featured.creator %></h2>
    <p><%= @featured.description %></p>
</section>

<section class="top-ten-container movies">
    <h2>Top Movies</h2>
    <ul>
        <% @movies.each do |movie| %>
            <li>
                <%= link_to movie.title, work_path(movie) %> by <%= movie.creator %>
                <%= movie.users.length%> votes
            </li>
        <% end %>
    </ul>
</section>

<section class="top-ten-container books">
    <h2>Top Books</h2>
    <ul>
        <% @books.each do |book| %>
            <li>
                <%= link_to book.title, work_path(book) %> by <%= book.creator %>
                <%= book.users.length%> votes
            </li>
        <% end %>
    </ul>
</section>

<section class="top-ten-container albums">
    <h2>Top Albums</h2>
    <ul>
        <% @albums.each do |album| %>
            <li>
                <%= link_to album.title, work_path(album) %> by <%= album.creator %>
                <%= album.users.length%> votes
            </li>
        <% end %>
    </ul>
</section>
