
<section class="spotlight">
<% media = Work.all.sample%>
    <h2 class="spotlight__header">
        <span class="spotlight__header--prefix"> Media Spotlight </span>
        <a class="spotlight__description"><%= link_to media.title, work_path(media.id)%> by <%= media.creator%></a>
    </h2>
    <p class="spotlight__description"><%= media.description%></p>
</section>

<section class="top-ten__container">
    <section class="top-ten__list-container">
        <h2 class="top-ten__header"> Top 10 Books </h2>
        <ul class="list-group top-ten__list">
        <% Work.top_ten("book").each do |book|%>
            <li class="list-group-item">
            <%= link_to book.title, work_path(book.id)%> by <%= book.creator %> 
            </li>
            <li class="list-group-item">
            <%= album.votes.count %> Votes
            </li>
        <%end%>
        </ul>
    </section>

    <section class="top-ten__list-container">
        <h2 class="top-ten__header">Top 10 Albums </h2>
        <ul class="list-group top-ten__list"> 
        <% Work.top_ten("album").each do |album|%>
            <li class="list-group-item">
            <%= link_to album.title, work_path(album.id)%> by <%= album.creator %> 
            </li>
           <li class="list-group-item">
            <%= album.votes.count %> Votes
            </li>
        <%end%>
        </ul>
    </section>

    <section class="top-ten__list-container">
        <h2 class="top-ten__header">Top 10 Movies </h2>
        <ul class="list-group top-ten__list">
        <% Work.top_ten("movie").each do |movie|%>
            <li class="list-group-item">
            <%= link_to movie.title, work_path(movie.id)%> by <%= movie.creator %> 
            </li>
            <li class="list-group-item">
            <%= album.votes.count %> Votes
            </li>
        <%end%>
        </ul> 
    </section>
</section>