<section class = "spotlight">
<h2><span class = "spotlight-header">Media Spotlight</span>
<% spotlight = Homepage.spotlight%>
<%if spotlight%>
<%=link_to "#{spotlight.title}", work_path(spotlight), class: "spotlight-link-to"%> by <%="#{spotlight.creator}"%> 
</h2>
<p>10 votes: etc</p>
</section>
<hr>
<section class = "top-ten-container">
<%Work.category.each do |category|%>
<% media_count = Work.media_votes(category)%>
<section class = "top-ten-lists">
<h2 class="top-ten-header">
Top <%=category.capitalize+"s"%></h2>
<ul class="list-group">
<%media_count.each do |work|%>
<li class="list-group-item"><h4><a><%= link_to "#{work[0].title}", work_path(work[0].id)%></a><small> by <%=work[0].creator%></small></h4><p><%=work[1]%> counts</p></li>
<%end%>
</ul>
</section>
<%end%>
</section>




<%end%>
