<section class="spotlight">
  <h2>Media Spotlight: <%="#{@top_media.title} by #{@top_media.creator}"%></h2>
  <%= "#{@top_media.vote_count} votes - #{@top_media.description}" %>
</section>
<section class="top_ten_container">
  <section class="top_ten">
    <h2>Top Movies</h2>
    <ul>
      <% @top_movies.each do |work| %>
        <li><%= "#{work.title} by #{work.creator}" %></li>
        <%= "#{work.vote_count} votes" %>
      <% end %>
    </ul>
  </section>
  <section class="top_ten">
    <h2>Top Books</h2>
    <ul>
      <% @top_books.each do |work| %>
        <li><%= "#{work.title} by #{work.creator}" %></li>
        <%= "#{work.vote_count} votes" %>
      <% end %>
    </ul>
  </section>
  <section class="top_ten">
    <h2>Top Albums</h2>
    <ul>
      <% @top_albums.each do |work| %>
        <li><%= "#{work.title} by #{work.creator}" %></li>
        <%= "#{work.vote_count} votes" %>
      <% end %>
    </ul>
  </section>
</section>