<% if @work.errors.messages.any? %>
  <section>
    <p>A problem occurred: Could not create/update <% Category.find(@work.category_id) %> </p>
    <ul>
      <% @work.errors.messages.each do |column, problem_list| %>
        <% problem_list.each do |problem| %>
          <li>
            <%= column %>: <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>  
  </section>
<% end %>
<%= form_with model:@work do |f| %>
<div>
<%= f.label :category_id, "Category" %>
<%= f.select :category_id, Category.all.map{ |c| [c.name, c.id]}  %>
</div>

<div>
<%= f.label :title, "Title" %>
<%= f.text_field :title %>
</div>

<div>
<%= f.label :creator, "Creator"%>
<%= f.text_field :creator  %>
</div>

<div>
<%= f.label :publication_year, "Publication Year"  %>
<%= f.text_field :publication_year %>
</div>

<div>
<%= f.label :description %>
<%= f.text_field :description %>
</div>
<%= f.submit button_text %>

<% end %>