<%= form_with model: @work, class: form_class do |f| %>

<% categories = ["album", "book", "movie"] %>

<div>
    <%= f.label :category %>
    <%= f.select :category, categories.each {|category| category } %>
</div>
<div>
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>
<div>
    <%= f.label :creator %>
    <%= f.text_field :creator %>
</div>
<div>
    <%= f.label :publication_year %>
    <%= f.text_field :publication_year %>
</div>
<div>
    <%= f.label :description %>
    <%= f.text_field :description %>
</div>

<%= f.submit action_name, class: "works-form_save-button" %>
<% end %>