<table class="table">
    <thead>
    <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
    </tr>
    </thead>
  <% Work.where(category: category).each do |a| %>
  <tbody>
    <tr>
        <td><%= "No Votes Yet" %></td>
        <td><%= link_to a.title, work_path(a)%></td>
        <td><%= a.creator %></td>
        <td><%= a.publication_year%> </td>
        <td><%= "No Upvoting Yet"%></td>
    </tr>
  </tbody>
  <% end %>
</table>