
<section class="spotlight">
    <% spotlight = Work.spotlight%>
    <% if spotlight %>
        <h1>Spotlight: <%= link_to spotlight.title, work_path(spotlight.id) %> by <%= spotlight.creator %></h1>
        <h5><%= spotlight.votes.count %> votes - <%= spotlight.description %></h5>
    <% end %>
</section>


<section class="top-media-container">
    <section class="top-media">
        <h2>Top Movies</h2>
        <ul>

            <% @works = @top_works.select{|work| work.category.downcase == "movie"}%>
                <% if !@works.empty? %>
                    <% 10.times do |index|%>
                        <% if @works[index] %>
                            <li>
                                <div>
                                    <%= link_to @works[index].title, work_path(@works[index].id) %> by <%= @works[index].creator%>
                                </div>
                                <%= @works[index].votes.length%> votes
                            </li>
                        <% else %>
                            <% break %>
                        <% end %>
                    <% end %>
                <% end %>
        </ul>
    </section>

    <section class="top-media">
        <h2>Top Books</h2>
        <ul>
            <% @works = @top_works.select{|work| work.category == "book"}%>
                <% if !@works.empty? %>
                    <% 10.times do |index|%>
                        <% if @works[index] %>
                            <li>
                                <div>
                                    <%= link_to @works[index].title, work_path(@works[index].id) %> by <%= @works[index].creator%>
                                </div>
                                <%= @works[index].votes.length%> votes
                            </li>
                        <% else %>
                            <% break %>
                        <% end %>
                    <% end %>
                <% end %>
        </ul>
    </section>

    <section class="top-media">
        <h2>Top Albums</h2>
        <ul>
            <% @works = @top_works.select{|work| work.category == "album"}%>
                <% if !@works.empty? %>
                    <% 10.times do |index|%>
                        <% if @works[index] %>
                            <li>
                                <div>
                                    <%= link_to @works[index].title, work_path(@works[index].id) %> by <%= @works[index].creator%>
                                </div>
                                <%= @works[index].votes.length%> votes
                            </li>
                        <% else %>
                            <% break %>
                        <% end %>
                    <% end %>
                <% end %>
        </ul>
    </section>
</section>