<section>
<% work = Work.all.sort { |work| work.votes.sum { |vote| vote.value } }.last %>
<h2>
  <span>Media Spotlight</span>
  <%= link_to work.title, work_path(work.id) %> by <%= work.creator %> 
</h2>
<p><%= work.upvotes.count %> upvotes, <%= work.downvotes.count %> downvotes - <%= work.description %>.</p>
</section>

<section>
  <% @works_by_category.each do |category, works| %>
    <h2>Top <%= category.capitalize %>s</h2>
    <ul>
    <% works.sort { |work| work.votes.sum { |vote| vote.value } }.reverse.first(10).each do |work| %>
      <li>
      <h4><%= link_to work.title, work_path(work.id) %><small> by <%= work.creator %></small></h4>
      <p><%= work.upvotes.count %> upvotes, <%= work.downvotes.count %> downvotes</p>
      </li>
    <% end %>
    </ul>
  <% end %>
</section>