<h1>List of Works</h1>

<section class="albums">
<h2>Albums</h2>
    <% albums = @works.where(category: "album") %>
    <ul>
        <% albums.each do |work|%>
            <li>
            Title: <%= link_to work.title, work_path(work.id) %>   
            </li>
            <li>
                Media type: <%= work.category %>
            <li>
                Creator: <%= work.creator %>
            </li>
            <li>
                Description: <%= work.description %>
            </li>
        <% end %>
    </ul>
</section>

<section class="books">
<h2>Books</h2>
    <% books = @works.where(category: "book") %>
    <ul>
        <% books.each do |work|%>
            <li>
                Title: <%= link_to work.title, work_path(work.id) %>  
            </li>
            <li>
                Media type: <%= work.category %>
            <li>
                Creator: <%= work.creator %>
            </li>
            <li>
                Description: <%= work.description %>
            </li>
        <% end %>
    </ul>
</section>

<section class="movies">
<h2>Movies</h2>
    <% movies = @works.where(category: "movie") %>
    <ul>
        <% movies.each do |work|%>
            <li>
                Title: <%= link_to work.title, work_path(work.id) %>  
            </li>
            <li>
                Media type: <%= work.category %>
            <li>
                Creator: <%= work.creator %>
            </li>
            <li>
                Description: <%= work.description %>
            </li>
        <% end %>
    </ul>
</section>


