<h1 class="list-works">List of Works</h1>
<section>
    <h2>Books</h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col">Published</th>
        <th scope="col">Upvote</th>
        </tr>
    </thead>
    <tbody>
        <% @works.each do |work|%>
            <% if work.category.downcase == "book"%>
            <tr>
                <td><%= work.votes.length %></td>
                <td><%= link_to work.title, work_path(work.id) %></td>
                <td><%= work.creator %></td>
                <td><%= work.publication_year %></td>
                <td><%= link_to "Upvote", upvote_path(work.id), method: :post, class: "btn btn-info" %></td>
            </tr>
            <% end %>
        <% end %>
    </tbody>
    </table>
</section>

<section>
    <h2>Albums</h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col">Published</th>
        <th scope="col">Upvote</th>
        </tr>
    </thead>
    <tbody>
        <% @works.each do |work|%>
            <% if work.category.downcase == "album"%>
            <tr>
                <td><%= work.votes.length %></td>
                <td><%= link_to work.title, work_path(work.id) %></td>
                <td><%= work.creator %></td>
                <td><%= work.publication_year %></td>
                <td><%= link_to "Upvote", upvote_path(work.id), method: :post, class: "btn btn-info" %></td>
            </tr>
            <% end %>
        <% end %>
    </tbody>
    </table>
</section>

<section>
    <h2>Movies</h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col">Published</th>
        <th scope="col">Upvote</th>
        </tr>
    </thead>
    <tbody>
        <% @works.each do |work|%>
            <% if work.category.downcase == "movie"%>
            <tr>
                <td><%= work.votes.length %></td>
                <td><%= link_to work.title, work_path(work.id) %></td>
                <td><%= work.creator %></td>
                <td><%= work.publication_year %></td>
                <td><%= link_to "Upvote", upvote_path(work.id), method: :post, class: "btn btn-info"%></td>
            </tr>
            <% end %>
        <% end %>
    </tbody>
    </table>
</section>




