<h1>List of Works</h1>


<section>
<h2> Books </h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Created By</th>
                <th>Published</th>
            </tr>
        </thead>
    <%=list_works("book")%>
    </table>
</section>

<section>
<h2> Albums </h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Created By</th>
                <th>Published</th>
            </tr>
        </thead>
    <%=list_works("album")%>
</table>
</section>

<section>
<h2> Movies </h2>
    <table>
        <thead>
            <tr>
                    <th>Title</th>
                    <th>Created By</th>
                    <th>Published</th>
            </tr>
        </thead>
    <%=list_works("movie")%>
<table>
</section>

<%=link_to "View top media", root_path%>
<%=link_to "Add a new work", new_work_path%>