<h1>List of Works</h1>

<section class="albums">
<h2>Albums</h2>
    <table class="index-table">
        <tr>
            <th>Votes</th>
            <th>Title</th>
            <th>Created By</th>
            <th>Published</th>
            <th>Upvote</th>
        </tr>
    <% albums = @works.where(category: "album") %>
    <% albums.sort_by { |work| Vote.where(work_id: work.id).length }%>
    
    <tr>
        <% albums.each do |work|%>
            <td>
            <%= Vote.where(work_id: work.id).length %>   
            </td>
            <td>
            <%= link_to work.title, work_path(work.id) %>   
            </td>
            <td>
                <%= work.creator %>
            </td>
            <td>
                <%= work.publication_year %>
            </td>
             <td>
                <%= link_to "Upvote", work_votes_path(work.id), method: :post %>
            </td>
        </tr>
        <% end %>
    </table>
</section>

<section class="books">
<h2>Books</h2>
    <table class="index-table">
        <tr>
            <th>Votes</th>
            <th>Title</th>
            <th>Created By</th>
            <th>Published</th>
            <th>Upvote</th>
        </tr>
        <% books = @works.where(category: "book") %>
            <% books.each do |work|%>
            <tr>
                <td>
                    <%= Vote.where(work_id: work.id).length %>   
                </td>
                <td>
                    <%= link_to work.title, work_path(work.id) %>  
                </td>
                <td>
                    <%= work.creator %>
                </td>
                <td>
                    <%= work.publication_year %>
                </td>
                 <td>
                    <%= link_to "Upvote", work_votes_path(work.id), method: :post %>
                </td>
            </tr>
            <% end %>

    </table>
</section>

<section class="movies">
<h2>Movies</h2>
    <table class="index-table">
        <tr>
            <th>Votes</th>
            <th>Title</th>
            <th>Created By</th>
            <th>Published</th>
            <th>Upvote</th>
        </tr>
    <% movies = @works.where(category: "movie") %>
        <tr>
            <% movies.each do |work|%>
                <td>
                    <%= Vote.where(work_id: work.id).length %>   
                </td>
                <td>
                    <%= link_to work.title, work_path(work.id) %>  
                </td>
                <td>
                    <%= work.creator %>
                </td>
                <td>
                    <%= work.publication_year %>
                </td>
                <td>
                    <%= link_to "Upvote", work_votes_path(work.id), method: :post %>
                </td>
        </tr>
            <% end %>
    </table>
</section>


