
<h2 class="index">List of Works</h2>

<h4><strong>Albums</strong></h4>
<table class="works-table">
    <tr>
        <th class="table-header">Votes</th>
        <th class="table-header">Title</th>
        <th class="table-header">Creator</th>
        <th class="table-header">Publication Year</th>
        <th class="table-header">Upvote</th>
    </tr>
    <% @works.each do |work|%>
        <tr>
        <% if work.category == "album"%>
            <th><%= work.vote_count %></th>
            <th class="title-link"><%= link_to work.title, work_path(work.id) %></th>
            <th><%= work.creator %></th>
            <th><%= work.publication_year %></th>
            <th><%= link_to "Upvote", work_path(work.id), class: "btn btn-primary", method: :post %></th>
        <% end %>
        </tr>
    <% end %>
</table>

<h4><strong>Books</strong></h4>
<table class="works-table">
    <tr>
        <th class="table-header">Votes</th>
        <th class="table-header">Title</th>
        <th class="table-header">Creator</th>
        <th class="table-header">Publication Year</th>
        <th class="table-header">Upvote</th>
    </tr>
    <% @works.each do |work|%>
        <tr>
        <% if work.category == "book"%>
            <th><%= work.vote_count %></th>
            <th class="title-link"><%= link_to work.title, work_path(work.id) %></th>
            <th><%= work.creator %></th>
            <th><%= work.publication_year %></th>
            <th><%= link_to "Upvote", work_path(work.id), class: "btn btn-primary", method: :post%></th>
        <% end %>
        </tr>
    <% end %>
</table>

<h4><strong>Movies</strong></h4>
<table class="works-table">
    <tr>
        <th class="table-header">Votes</th>       
        <th class="table-header">Title</th>
        <th class="table-header">Creator</th>
        <th class="table-header">Publication Year</th>
        <th class="table-header">Upvote</th>
    </tr>
    <% @works.each do |work|%>
        <tr>
        <% if work.category == "movie"%>
            <th><%= work.vote_count %></th>
            <th class="title-link"><%= link_to work.title, work_path(work.id) %></th>
            <th><%= work.creator %></th>
            <th><%= work.publication_year %></th>
            <th><%= link_to "Upvote", work_path(work.id), class: "btn btn-primary", method: :post %></th>
        <% end %>
        </tr>
    <% end %>
</table>

<h3>None</h3>
<% @works.each do |work|%>
    <% if work.category == ""%>
        <%= link_to work.title, work_path(work.id) %><br>
        <%= work.creator %><br>
        <%= work.publication_year %><br>
    <% end %>  
<% end %>