<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>
<%# general header from app file will be here%>



<h3>List of Works</h3>

<h4>Albums</h4>

<table>
<tr>
<th>Votes</th>
<th>Title</th>
<th>Created By</th>
<th>Published</th>
<th>Upvote</th>
</tr>
<% @works.where(category: "album").each do |work| %>
  <tr>
  <td><%#= work.votes .order(votes: :desc) %></td>
  <td><%= work.title %></td>
  <td><%= work.created_by %></td>
  <td><%= work.published %></td>
  <td>link_to vote</td>
  </tr>
<% end %>
</table><br>

<h4>Books</h4>

<table>
<tr>
<th>Votes</th>
<th>Title</th>
<th>Created By</th>
<th>Published</th>
<th>Upvote</th>
</tr>
<% @works.where(category: "book").each do |work| %>
  <tr>
  <td><%#= work.votes .order(votes: :desc) %></td>
  <td><%= work.title %></td>
  <td><%= work.created_by %></td>
  <td><%= work.published %></td>
  <td>link_to vote</td>
  </tr>
<% end %>
</table><br>

<h4>Movies</h4>

<table>
<tr>
<th>Votes</th>
<th>Title</th>
<th>Created By</th>
<th>Published</th>
<th>Upvote</th>
</tr>
<% @works.where(category: "movie").each do |work| %>
  <tr>
  <td><%#= work.votes .order(votes: :desc) %></td>
  <td><%= work.title %></td>
  <td><%= work.created_by %></td>
  <td><%= work.published %></td>
  <td>link_to vote</td>
  </tr>
<% end %>
</table>



<%# link to homepage with work methods%>
<%# link to work#new function%>