<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>


<h2>List of Works</h2>

<!-- cut and paste this into a form -->
<h4>Albums</h4>
<table>
<tr>
<th>Votes</th>
<th>Title</th>
<th>Created By</th>
<th>Published</th>
<th>Upvote</th>
</tr>
<% Work.list_works("album").each do |album| %>
<tr>
<td><%= Vote.where(work_id: album.id).count %></td>
<td><%= link_to album.title, work_path(album.id) %></td>
<td><%= album.creator %></td>
<td><%= album.publication_year %></td>
<td><%= button_to "upvote", work_votes_path(album.id), method: :post, class: "btn btn-primary" %></td>
</tr>
<% end %>
</table>

<h4>Books</h4>

<h4>Movies</h4>
