<div>
    <h2 class='media_spotlight'>
      <%= link_to 'Media Spotlight: ' %>
      <%=link_to 'Some information about votes'%></a>
    </h2>
</div>
<div>
  <ul class='main_options'>
    <li><%= link_to 'Top Movies'%></li> 
    <li><%= link_to 'Top Books'%></li>
    <li><%= link_to 'Top Albums'%></li>
  </ul>
</div>