<h1>Add a new work</h1>
<%= form_with model: @work, class: "forms" do |field|%>
<%= field.label :Category%>
<%= field.select :id, {
    album: "album",
    book: "book",
    movie: "movie"
    } %>

    <%= field.label :Creator%>
    <%= field.text_field :creator%>

    <%= field.label :Publication_Year%>
    <%= field.text_field :publication_year%>

    <%= field.label :Description%>
    <%= field.text_area :description%>

    <%= field.submit "Create Work", class: "btn btn-primary" %>
    
<%end%>
