<h1>Works#new</h1>

<%= form_with model: @work, class: 'create-work' do |f| %>
<h3>Add a new work</h3>

<%= f.label :category %>
<% options = ["album", "book", "movie"] %>
<%= f.select :category, options %><br>

<%= f.label :title %>
<%= f.text_field :title %><br>

<%= f.label :created_by %>
<%= f.text_field :created_by %><br>

<%= f.label :published %>
<%= f.text_field :published %><br>

<%= f.label :description %>
<%= f.text_area :description %><br>

<%= f.submit %>
<% end %>


<%# , class: 'work-form__submit-btn'%>