<section>
  <h2><%= @work.title %></h2>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <p><%= @work.description %></p>
</section>

<section>
  <%= link_to "Back to Media Ranks", root_path, class: "btn btn-primary", role: "button" %>
  <%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary", role: "button" %>
  <%= link_to "Upvote", upvote_path(@work.id), class: "btn btn-primary", role: "button", method: :post %>
  <%= link_to "Delete", work_path(@work.id), class: "btn btn-danger", role: "button", method: :delete,
      data: { confirm: 'Are you sure?'} %>
</section>

<section class="votes-container">
  <h3><%= @work.votes.length %> votes for this <%= @work.category %></h3>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @work.users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.username}", user_path(user.id) %></td>
          <td><%= user.vote_date(@work) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>