<h2><%= @work.title %></h2>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p><%= @work.description %></p>
<%= link_to "Back to media ranks", homepages_index_path, class: "btn btn-primary"%>
<%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary"%>
<%= link_to "Upvote", edit_work_path(@work.id), class: "btn btn-primary"%>
<%= link_to "Delete", work_path(@work.id), method: :destroy, class: "btn btn-danger"%>

