<header class="details-page">
  <h2><%= @work.title %></h2>
  Created by: <%= @work.author %><br>
  Published: <%= @work.publication_year %><br>
  <%= @work.description %><br>
  
  <section class="actions">
    <%= link_to "Back to media ranks", root_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary btn-lg" %>
    <%= link_to "Upvote", class: "btn btn-primary btn-lg" %>
    <%= link_to "Delete", class: "btn btn-danger btn-lg" %> 
  </section>
</header>


