<h2>
  <%= @work.title %>
</h2>

<h3>
  <%= @work.creator %>
</h3>



<p>
  <%= @work.description %>
</p>

<%= link_to "Back to All Works", works_path %>

<%= link_to "Edit #{@work.title}", edit_work_path(@work.id) %>

<%= link_to "Delete #{@work.title}", 
    work_path(@work.id), method: :delete, data: { confirm: "Are you sure that you want to delete this driver?" } %>