<h1><%= @work.title %></h1>
<%= link_to "View All Works", works_path %>

<p>Created By: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<p><%= @work.description %></p>

<%= link_to "Back to media ranks", root_path, class: "btn btn-primary"%>
<%= link_to "EDIT", edit_work_path(@work.id), class: "btn btn-primary"%>
<%= link_to "Upvote", work_path(@work.id), method: :post, class: "btn btn-primary"%>
<%= link_to "DELETE", work_path(@work.id), method: :delete, :data => {:confirm => 'Are you sure you want to delete this work?'}, class: "btn btn-danger"%>

<h3><%= @work.vote_count%> Votes for this <%= @work.category %></h3>

<table class="work-show-table">
    <thead>
    <tr>
        <th class="table-header">User</th>
        <th class="table-header">Date</th>
    </tr>
    </thead>
    <% @work.votes.each do |vote| %>
    <tbody>
    <tr>
        <th><%= User.find(vote.user_id).username %></th>
        <th><%= vote.created_at %></th>
    </tr>
    <% end %>
    </tbody>
</table>