<h2>Media details page</h2>

<ul>
<li>
  Name: 
  <%= @work.title %>
</li>
<li>
  Creator: 
  <%= @work.creator %>
</li>
<li>
  Published_by: 
  <%= @work.publication_year %>
</li>

<li>
  Description: 
  <%= @work.description %>
</li>

<li>
  <%= link_to "Back to Media ranks" %>
</li>

<li>
  <%= link_to "Edit", edit_work_path(@work.id)%>
</li>

<li>
  <%= link_to "Upvote", upvote_path(@work.id)%>
</li>


<li>
  <%= link_to "Delete", work_path(@work.id), method: :delete, data: { confirm: "Do you really want to delete?" } %>
</li>

</ul>
