
<ul>
<li>
  Name: 
  <%= @work.title %>
</li>
<li>
  Creator: 
  <%= @work.creator %>
</li>
<li>
  Published_by: 
  <%= @work.publication_year %>
</li>

<li>
  Description: 
  <%= @work.description %>
</li>

<div  class='main_options' >
  <table class='main_options'>
    <tr>
      <th><%=@work.number_of_votes%></th>
    </tr>
    <tr>
      <th>User</th>
      <th>Date</th>
    </tr>
    <tr>
      <td><%= @work.users%></td>
    </tr>
  </table>
</div>







<li>
  <%= link_to "Back to Media ranks" %>
</li>

<li>
  <%= link_to "Edit", edit_work_path(@work.id)%>
</li>

<li>
  <%= link_to "Upvote", upvote_path(@work.id), method: :post %>
</li>


<li>
  <%= link_to "Delete", work_path(@work.id), method: :delete, data: { confirm: "Do you really want to delete?" } %>
</li>

</ul>
