<h2> 
Media Spotlight: <%= link_to @featured_work.title, work_path(@featured_work) %> by <%= @featured_work.creator %> 
</h2>

<h2> Top Books </h2>
<ul>
    <% @top_books.each do |book| %>
    <li> <%= link_to book.title, work_path(book) %> by <%= book.creator%> </li>
    <% end %>
</ul>


<h2> Top Albums </h2>
<ul>
    <% @top_albums.each do |album| %>
    <li> <%= link_to album.title, work_path(album) %> by <%= album.creator%> </li>
    <% end %>
</ul>