<section class="spotlight">
    <h2 class="spotlight__header"> 
        <span class="spotlight__header--prefix"> 
            Media Spotlight 
        </span>
        <% if Work.all.count > 0 %>
        <%= link_to @featured_work.title, work_path(@featured_work), class: "spotlight__link-to"  %> by <%= @featured_work.creator%> 
        <% else %>
        No spotlight work for today :(
        <% end %>
    </h2>
    <p class="spotlight__description">
        <%= @featured_work.votes.count%> votes. <%= @featured_work.description%>
    </p>
</section>

<hr class="root__hr">

<section class="top-ten__container">
    <section class="top-ten__list-container">
        <h2 class="top-ten__header"> Top Books </h2>
            <ul class="list-group top-ten__list">
                <% if @top_books.class == Array && @top_books.count > 0 %>
                    <% @top_books.each do |book| %>
                    <li class="list-group-item" > <%= link_to book.title, work_path(book) %> by <%= book.creator%> </li>
                        <p> <%= book.votes.count %> votes </p>
                    <% end %>
                <% else %>
                    <p> No books yet! </p>
                <% end %>
            </ul>
    </section>

    <section class="top-ten__list-container">
        <h2 class="top-ten__header"> Top Albums </h2>
            <ul class="list-group top-ten__list">
                <% if @top_albums.class == Array && @top_albums.count > 0 %>
                    <% @top_albums.each do |album| %>
                    <li class="list-group-item" > <%= link_to album.title, work_path(album) %> by <%= album.creator%> </li>
                        <p> <%= album.votes.count %> votes </p>
                    <% end %>
                <% else %>
                    <p> No albums yet! </p>
                <% end %>
            </ul>
    </section>

    <section class="top-ten__list-container">
        <h2 class="top-ten__header"> Top Movies </h2>
            <ul class="list-group top-ten__list">
                <% if @top_movies.class == Array && @top_movies.count > 0 %>
                    <% @top_movies.each do |movie| %>
                    <li class="list-group-item"> <%= link_to movie.title, work_path(album) %> by <%= movie.creator%> </li>
                         <p> <%= movie.votes.count %> votes </p>
                    <% end %>
                <% else %>
                    <p> No movies yet! </p>
                <% end %>
            </ul>
    </section>
</section>