
<section>
    <% if Work.spotlight %>
        <h1>Spotlight: <%= link_to Work.spotlight.title, work_path(Work.spotlight.id) %> by <%= Work.spotlight.creator %></h1>
    <% end %>
</section>

<section>
    <h2>Top Movies</h2>
    <ul>

        <% @works = @top_works.select{|work| work.category.downcase == "movie"}%>
            <% if !@works.empty? %>
                <% 10.times do |index|%>
                    <% if @works[index] %>
                        <li>
                            <%= link_to @works[index].title, work_path(@works[index].id) %> by <%= @works[index].creator%>
                            <%= @works[index].votes.length%> votes
                        </li>
                    <% else %>
                        <% break %>
                    <% end %>
                <% end %>
            <% end %>
    </ul>
</section>

<section>
    <h2>Top Books</h2>
    <ul>
        <% @works = @top_works.select{|work| work.category == "book"}%>
            <% if !@works.empty? %>
                <% 10.times do |index|%>
                    <% if @works[index] %>
                        <li>
                            <%= link_to @works[index].title, work_path(@works[index].id) %> by <%= @works[index].creator%>
                            <%= @works[index].votes.length%> votes
                        </li>
                    <% else %>
                        <% break %>
                    <% end %>
                <% end %>
            <% end %>
    </ul>
</section>

<section>
    <h2>Top Albums</h2>
    <ul>
        <% @works = @top_works.select{|work| work.category == "album"}%>
            <% if !@works.empty? %>
                <% 10.times do |index|%>
                    <% if @works[index] %>
                        <li>
                            <%= link_to @works[index].title, work_path(@works[index].id) %> by <%= @works[index].creator%>
                            <%= @works[index].votes.length%> votes
                        </li>
                    <% else %>
                        <% break %>
                    <% end %>
                <% end %>
            <% end %>
    </ul>
</section>