
<section>
    <h1>Spotlight: <%= @works.first.title%> by <%= @works.first.creator%></h2>
</section>

<section>
    <h2>Top Movies</h2>
    <ul>
        <% @works = @top_works.select{|work| work.category == "movie"}%>
            <% if !@works.empty? %>
                <% 10.times do |index|%>
                <%# @top_works.each do |work|%>
                    <li>
                        <%= link_to @works[index].title, work_path(@works[index].id) %> by <%= @works[index].creator%>
                        <%= @works[index].votes.length%> votes
                    </li>
                <% end %>
            <% end %>
    </ul>
</section>

<section>
    <h2>Top Books</h2>
    <ul>
        <% @works = @top_works.select{|work| work.category == "book"}%>
            <% if !@works.empty? %>
                <% 10.times do |index|%>
                <%# @top_works.each do |work|%>
                    <li>
                        <%= link_to @works[index].title, work_path(@works[index].id) %> by <%= @works[index].creator%>
                        <%= @works[index].votes.length%> votes
                    </li>
                <% end %>
            <% end %>
    </ul>
</section>

<section>
    <h2>Top Albums</h2>
    <ul>
        <% @works = @top_works.select{|work| work.category == "album"}%>
            <% if !@works.empty? %>
                <% 10.times do |index|%>
                <%# @top_works.each do |work|%>
                    <li>
                        <%= link_to @works[index].title, work_path(@works[index].id) %> by <%= @works[index].creator%>
                        <%= @works[index].votes.length%> votes
                    </li>
                <% end %>
            <% end %>
    </ul>
</section>