<h2> List of Users </h2>
<table>
  <tr>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user_path(user.id) %></td>
    <td><%= user.name.capitalize %></td>
    <%= puts user.join_date %>
    <td><%= user.join_date.strftime('%B %e, %Y') %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Back to Media List", home_path %>
