<h2> User Summary: <%= @user.username%> </h2>
<p>
  Joined site <%= parse_date(@user.created_at)%>
</p>

<h3 class="user-votes__header">Votes</h3>
<table class="table">
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>
    <% if !@user.works.empty? %>
      <% @user.works.each do |media| %>
        <tr>
          <td><%= media.title %></td>
          <td><%= media.creator%></td>
          <td><%= media.publication_year %></td>
          <td><%= media.category%></td>
          <% vote = media.upvotes.find_by(work_id: media.id) %>
          <td><%= parse_date(vote.created_at) %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  
<%= link_to "See all Users", users_path, class: "btn btn-secondary" %>
<%= link_to "Back to Media List", root_path, class: "btn btn-primary" %>