<section>
  <h2>User Summary: <%= @user.username %></h2>
  <p>Joined site <%= @user.created_at.to_date %></p>
  <section>
    <h3>Votes</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Media Title</th>
            <th>Crated By</th>
            <th>Published</th>
            <th>Category</th>
            <th>Voted On</th>
          </tr>
        </thead>
        <% @user.votes.each do |vote| %>
          <tbody>
            <tr>
              <td><%= link_to vote.work.title, work_path(vote.work)%></td>
              <td><%= vote.work.creator %></td>
              <td><%= vote.work.publication_year %></td>
              <td><%= vote.work.category.name %></td>
              <td><%= vote.created_at.to_date %></td>
            </tr>
          </tbody>
          <% end %>
      </table>
  </section>

  <%= link_to "See all Users", users_path, :class=>"btn btn-secondary" %>
  <%= link_to "Back to Media List", root_path, :class=>"btn btn-primary" %>
</section>