<%spotlight = Work.all.sample %>
<h2>
  Media Spotlight:
  <%= link_to spotlight.title, work_path(spotlight.id) %>, by <%= spotlight.author %>
</h2>
<br>

<div class="top-media-container">
  <article class="top-media-container">
    <h4 class="top-media-heading">Top 10 Albums</h4>
    <ul class="top-media">
      <% albums = Work.albums.sample(10) %>
      <% albums.each do |album| %>
        <li class="top-media-item">
          <h5><%= link_to album.title, work_path(album.id) %></h5> by <%= album.author %>
          <%# <%= album.votes %>
        </li>
      <% end %>
    </ul>
  </article>
    
  <article class="top-media-container">
    <h4 class="top-media-heading">Top 10 Books</h4>
    <ul class="top-media">
      <% book = Work.books.sample(10) %>
      <% book.each do |book| %>
        <li class="top-media-item">
          <h5><%= link_to book.title, work_path(book.id) %></h5> by <%= book.author %>
          <%# <%= album.votes %>
        </li>
      <% end %>
    </ul>
  </article>
</div>