<% if Work.spotlight %>
  <section class="card">
    <div class="card-body">
      <h2 class="header card-title">
        <span class="header spotlight-prefix">Media Spotlight:</span>
          <%= link_to Work.spotlight.title, work_path(Work.spotlight.id) %>
        by <%= Work.spotlight.creator %>
      </h2>
      <p class="description card-text">
        <%= Work.spotlight.votes.length %> votes - <%= Work.spotlight.description[0..20] %>...
      </p>
    </div>
  </section>
<% end %>

<hr>

<div class="container">
  <section class="row">
    <% ["movie", "book", "album"].each do |category| %>
      <section class="col-sm">
        <h2 class="header top-ten">Top <%= category.titleize %>s</h2>
        <ul class="list-group top-ten">
          <% Work.list_of(category)[0..9].each do |work| %>
            <li class="list-group-item">
              <h4>
                <%= link_to work.title, work_path(work.id) %>
              <small class="top-ten creator">by <%= work.creator %></small>
              </h4>
              <p>
                <%= work.votes.length %> votes
              </p>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
  </section>
</div>