<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Gudea:400,700|Hammersmith+One" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.count > 0 %>
        <section class="flash">
          <div class="alert alert-success">
            <% flash.each do |name, message| %>
              <% if message.class == Array %>
                <ul>
                  <% message.each do |msg| %>
                    <li><%= name %>: <%= msg %> </li>
                  <% end %>
                <% else %>
                  <%= message %>
                <% end %>
              </ul>
            <% end %>
          </div>
        </section>
      <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
