<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section class="login">
        <% current_user = User.find_by(id: session[:user_id])%>
        <% if current_user.nil? %>
          <%= link_to "Log in", login_path %> 
        <% else %> 
          <%= link_to "Logged in as #{current_user.username}", user_path(current_user.id) %> 
          <%= link_to "Log Out", logout_path, method: :post %> 
        <% end %>
      </section>
      <section class="flash">
        <% flash.each do |name, message| %>
          <div class="<%= name %>"><%= message %></div>
        <% end %>
      </section>
      <nav>
        <%= link_to "View top media",  homepages_path%>
        <%= link_to "View all media", works_path %>
        <%= link_to "Add a new work", new_work_path %>
        <%= link_to "View all users", users_path %>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

  </body>
</html>
