<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <header>
      <h1>Media Ranker | Ranking The Best of Everything</h1>
    </header>
    <%= link_to "View Top Media", root_path %>
    <%= link_to "View All Media", works_path %>
    <%= link_to "Add A New Work", new_work_path %>
    <%= link_to "View All Users ##", "#" %>
  </nav>

  <body>
    <% if flash.count > 0 %>
      <section class="flash">
        <div class="alert">
          <% flash.each do |name, message| %>
            <% if message.class == Array %>
              <ul>
              <% message.each do |msg| %>
                <li> <%= name %>: <%= msg %> </li>
                <% end %>
              </ul>
            <% else %>
              <%= message %>
            <% end %>
          <% end %>
        </div>
      </section>
    <% end %>

    <%= yield %>
  </body>
</html>
