<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="app-header__header">
  <h1>
    <a href="/" alt="Link to homepage"> Media Ranker</a>
    <small> Ranking the best of everything </small>
  </h1>
  <nav class="app-header__nav">
    <ul class="nav app-header__site-nav-container">
      <li class="nav-item app-header__nav_item"> 
        <a class ="nav-link" href ="/" alt="View top media"> View top media </a>
      </li>
       <li class="nav-item app-header__nav_item"> 
        <%= link_to "View all media", works_path, class: "nav-link" %>
      </li>
       <li class="nav-item app-header__nav_item"> 
        <a class ="nav-link" href ="/" alt="Add new media"> Add a new work </a>
      </li>
       <li class="nav-item app-header__nav_item"> 
        <a class ="nav-link" href ="/" alt="View all users"> View all users </a>
      </li>
    </ul>
    <ul class="nav app-header__user-nav-container">
       <li class="nav-item app-header__nav_item"> 
        <%= link_to "Login", root_path, class: "btn btn-primary", alt: "Log In" %>
      </li>
       <li class="nav-item app-header__nav_item"> 
       <%= linkt_to "Log Out", root_path, class: "btn btn-primary", alt: "Log Out" %>
      </li>
    </ul>
  </nav>
  </header>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>

