<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header">
      <h1><strong><%= link_to "Media Ranker", "/" %></strong> <small>| Ranking the Best of Everything</small></h1>
      <nav>
        <ul>
          <div class="nav-links">
          <li><%= link_to "View top media", root_path %></li>
          <li><%= link_to "View all media", works_path %></li>
          <li><%= link_to "Add a new work", new_work_path %></li>
          <li><%= link_to "View all users", users_path %></li>
          </div> 
          
          <div class="button">
          <% if session[:user_id].nil? %>
            <li><%= link_to "Login", login_path, class: "btn btn-primary" %></li>
          <% else %>
            <li> <%= link_to "Logged in as #{User.find_by(id: session[:user_id]).username}", user_path(session[:user_id]), class: "btn btn-primary"%></li>
            <%# link_to user.username, user_path(user.id) %>
            <li><%= link_to "Log Out", logout_path, method: :post, class: "btn btn-primary" %></li>
          <% end %>
          </div>
        </ul>
      </nav>
    </header>

    <% if flash[:success] %>
      <div class="alert alert-success" role="alert">
         <%= flash[:success]%>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:error]%>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
