<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('owl.jpg')%>

  </head>

  <body>
     <header>
        <h1 class='main_title'>
          <%= link_to 'Media Ranker | Ranking the Best of Everything', home_path%>
        </h1>
        <div class="nav_list">
          <a><%=link_to 'View Top Media'%></a>
          <a><%= link_to 'View All Media', works_path%></a>
          <a><%= link_to 'Add New Work', new_work_path%></a>
          <a><%= link_to 'View all users'%></a>
          <section class="card-body">
          <a href="#" role="button" class="btn btn-primary">Login</a>
          </section>
        </div>
    </header>
    <main>
    <%= yield %>
    </main>

    <footer>  
      <p> © Rosalyn Development 2019</p>
  </footer>
  </body>
</html>
