<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker 2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1><a href="/"><span class="title">Media Ranker</span></a> Ranking the Best of Everything</h1>
      <nav>
        <ul>
          <li class="nav-links"><%= link_to "View top media", root_path %></li>
          <li class="nav-links"><%= link_to "View all media", works_path %></li>
          <li class="nav-links"><%= link_to "Add a new work", new_work_path %></li>
          <li class="nav-links"> View all users </li>
        </ul>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>