<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header">
      <h1>
        <div id="app-title">
          Media Ranker
          <small id="sub-heading"> | Ranking the Best of Everything</small>
        </div>
      </h1>
      <nav class="nav-bar">
        <ul id='first-ul'>
          <li> View top media</li>
          <li><%= link_to "View all media", works_path %> </li> 
          <li>Add a new work</li>
          <li>View all users</li>
        </ul>
        <ul id="second-ul">
          <li class="text"> <a class="btn btn-primary"> Log In </a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
